<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.chaldeaprjkt.gamespace">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Optional -->

    <application
        android:name=".GameSpace"
        android:icon="@drawable/ic_launcher"
        android:label="@string/settings_title"
        android:supportsRtl="false"
        android:theme="@style/GameSpaceTheme"
        android:enableOnBackInvokedCallback="true">
        
        <activity
            android:name=".settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.PerAppSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <service
            android:name=".gamebar.SessionService"
            android:exported="false" />

        <service
            android:name=".gamebar.GameBarService"
            android:exported="false" />

        <receiver
            android:name=".gamebar.GameBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.chaldeaprjkt.gamespace.action.GAME_START" />
                <action android:name="io.chaldeaprjkt.gamespace.action.GAME_STOP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
